@use "../theme.scss" as *;

.question {
  font-size: $fontSizePrimary;
  padding: 1rem;
  margin: 0.5rem;
  background-color: $colorSecondary;
}

a {
  color: black;
  font-style: normal;
  text-decoration: none;
}

.question:hover {
  background-color: $colorTertiary;
}