$fontSizePrimary: 1.3rem;
$fontSizeSecondary: 1rem;
$fontSizeBig: 2rem;

$colorPrimary: #b9daff;
$colorSecondary: #e3eaf1;
$colorTertiary: #f2f7fa;

$buttonColorPrimary: #5394dd;
$buttonColorHover: #517fd4;